<div class="navbar">
  <div class="nav-left">
    <div class="logo-container">
      <!-- <img src="../../../assets/images/logo.png" alt="logo" class="logo"> -->
      <!-- <span class="logo">CBUCKET</span> -->
    </div>
    <div class="menu">
      <a class="menu-item" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="menu-item" routerLink="/dashboard" routerLinkActive="active">Dashboards</a>
      <a class="menu-item" routerLink="/staking-calculator" routerLinkActive="active">Staking</a>
      <div class="dropdown">
        <button class="drop">Apps..</button>
        <div class="dropdown-content">
          <a href="#">Cardano staking</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-right">
    <a class="menu-item"  routerLink="/login" routerLinkActive="active">Login</a>
    <a class="menu-item" routerLink="/signup" routerLinkActive="active">Register</a>
  </div>
</div>